/.venv
/config/api_secrets.json
/bin
/.buildozer
**/__pycache__
Lib/
.idea/

/config/secret.json

vessel_info.json
share/sdl2/bin/LICENSE.png.txt
share/sdl2/bin/LICENSE.opusfile.txt
share/sdl2/bin/zlib1.dll
share/sdl2/bin/SDL2_ttf.dll
share/sdl2/bin/SDL2_mixer.dll
share/sdl2/bin/SDL2_image.dll
share/sdl2/bin/SDL2.dll
share/sdl2/bin/LICENSE.zlib.txt
share/sdl2/bin/LICENSE.webp.txt
share/sdl2/bin/LICENSE.tiff.txt
share/sdl2/bin/LICENSE.opus.txt
share/sdl2/bin/LICENSE.ogg-vorbis.txt
share/sdl2/bin/LICENSE.mpg123.txt
share/sdl2/bin/LICENSE.modplug.txt
share/sdl2/bin/LICENSE.jpeg.txt
share/sdl2/bin/LICENSE.harfbuzz.txt
share/sdl2/bin/LICENSE.freetype.txt
share/sdl2/bin/LICENSE.FLAC.txt
share/sdl2/bin/libwebp-7.dll
share/sdl2/bin/libvorbisfile-3.dll
share/sdl2/bin/libvorbis-0.dll
share/sdl2/bin/libtiff-5.dll
share/sdl2/bin/libpng16-16.dll
share/sdl2/bin/libopusfile-0.dll
share/sdl2/bin/libopus-0.dll
share/sdl2/bin/libogg-0.dll
share/sdl2/bin/libmpg123-0.dll
share/sdl2/bin/libmodplug-1.dll
share/sdl2/bin/libjpeg-9.dll
share/sdl2/bin/libFLAC-8.dll
share/glew/bin/glew32.dll
share/angle/bin/libGLESv2.dll
share/angle/bin/libEGL.dll
share/angle/bin/d3dcompiler_47.dll
Scripts/wsdump.exe
Scripts/rstpep2html.py
Scripts/rst2xml.py
Scripts/rst2xetex.py
Scripts/rst2s5.py
Scripts/rst2pseudoxml.py
Scripts/rst2odt_prepstyles.py
Scripts/rst2odt.py
Scripts/rst2man.py
Scripts/rst2latex.py
Scripts/rst2html5.py
Scripts/rst2html4.py
Scripts/rst2html.py
Scripts/pywin32_testall.py
Scripts/pywin32_postinstall.py
Scripts/pythonw.exe
Scripts/python.exe
Scripts/pyserial-ports.exe
Scripts/pyserial-miniterm.exe
Scripts/pygmentize.exe
Scripts/pip3.exe
Scripts/pip3.10.exe
Scripts/pip.exe
Scripts/pasteurize.exe
Scripts/pasteurize-script.py
Scripts/normalizer.exe
Scripts/jsonschema.exe
Scripts/httpx.exe
Scripts/garden.bat
Scripts/garden
Scripts/futurize.exe
Scripts/futurize-script.py
Scripts/f2py.exe
Scripts/docutils.exe
Scripts/deactivate.bat
Scripts/Activate.ps1
Scripts/activate.bat
Scripts/activate
pyvenv.cfg
Include/site/python3.10/greenlet/greenlet.h
submodules/tinyproto
