{
  "authority": "https://login.microsoftonline.com/ed38e9ed-ef79-4415-b1aa-36e883726313",
  "client_id": "",
  "client_id_api": "",
  "scope": [
    "api://CLIENT_ID_API/Read.Basic"
  ],
  "secret_id": "",
  "secret": "",
  "endpoint": "https://login.microsoftonline.com/common/oauth2/v2.0/token"
}