[Unit]
Description=Network Failover Script

[Service]
ExecStart=/usr/local/bin/netfailover.sh
StandardOutput=append:/var/log/netfailover.log
StandardError=append:/var/log/netfailover.err

[Install]
WantedBy=multi-user.target
