[Unit]
Description=GSM interface
After=network.target

[Service]
User=root
Group=root
ExecStart=pon gprs
Restart=always

[Install]
WantedBy=multi-user.target
